# Copyright (c) Microsoft Corporation.
# Licensed under the MIT License.

# /*---------------------------------------------------------------------------8
# |                                                                            |
# |             Role used to set motd, issue and issue.net banners             |
# |                                                                            |
# +------------------------------------4--------------------------------------*/
# Description:  Create and update content of the relevant files in /etc/
#               Update sshd_config to display banners
#               Restart sshd service - via handlers/main.yaml
#
#
# Objects:
#   External:
#             files/motd                      - File with message to display
#
#   Internal:
#             result                          - objet to store the results of a task execution
#
#   Created:
#             /etc/motd                       - File with MOTD banner
#             /etc/issue                      - File with issue banner
#             /etc/issue.net                  - File with issue.net banner
#
# -------------------------------------+---------------------------------------8
# Reviews:
#
# 04/28/2021  <ReviewerName>                  Reviewed - NotStarted
#
# -------------------------------------+---------------------------------------8
---

# -------------------------------------+---------------------------------------8
#
# Task: 1.13    - MOTD
#
# -------------------------------------+---------------------------------------8


# -------------------------------------+---------------------------------------8
#
# Update banners - Overwrite existing ones
#
# -------------------------------------+---------------------------------------8
- name:                                "1.13 MOTD - Update motd banners"
  ansible.builtin.copy:
    src:                               files/motd
    dest:                              /etc/motd
    owner:                             root
    group:                             root
    mode:                              0644
  become:                              true

- name:                                "1.13 MOTD - Update issue banners"
  ansible.builtin.copy:
    src:                               files/issue
    dest:                              /etc/issue
    owner:                             root
    group:                             root
    mode:                              0644
  become:                              true

- name:                                "1.13 MOTD - Update issue.net banners"
  ansible.builtin.copy:
    src:                               files/issue
    dest:                              /etc/issue.net
    owner:                             root
    group:                             root
    mode:                              0644
  become:                              true

# -------------------------------------+---------------------------------------8
#
# ssh configuration changes required for this
# Update printmotd if commented. We do not change it is explicitly set to no
# Update sshd
# -------------------------------------+---------------------------------------8

- name: "1.13 MOTD - Ensure sshd_config.d exists"
  become: true
  ansible.builtin.file:
    path: /etc/ssh/sshd_config.d
    state: directory
    owner: root
    group: root
    mode: "0755"

- name: "1.13 MOTD - Configure SSH banner via drop-in"
  become: true
  ansible.builtin.blockinfile:
    path: /etc/ssh/sshd_config.d/99-sdaf-motd.conf
    create: true
    owner: root
    group: root
    mode: "0644"
    marker: "# {mark} SDAF MOTD CONFIG"
    block: |
      PrintMotd yes
      Banner /etc/issue.net
  notify: "1.13 MOTD - Restart sshd service"
  
...
