# Copyright (c) Microsoft Corporation.
# Licensed under the MIT License.

# -----------------------------------------------------------------------------
#
# Task: 1.0  - Enable logging for sudo
#
# -----------------------------------------------------------------------------


- name: Check if /etc/sudoers.d exists
  become: true
  ansible.builtin.stat:
    path: /etc/sudoers.d
  register: sudoersd_dir

- name: 1.0 - Enable logging for sudo operations
  become: true
  ansible.builtin.blockinfile:
    path: "{{ '/etc/sudoers.d/99-sudo-logging' if sudoersd_dir.stat.isdir else '/etc/sudoers' }}"
    state: present
    create: true
    mode: "0440"
    insertafter: EOF
    validate: "visudo -cf %s"
    block: |
      Defaults logfile="/var/log/sudo.log"
      Defaults iolog_dir="/var/log/sudo/%{user}"
      Defaults log_input,log_output

# /*----------------------------------------------------------------------------8
# |                                    END                                      |
# +------------------------------------4---------------------------------------*/
